services:

  invoiceninja:
    image: invoiceninja/invoiceninja:{{ invoiceninja_version }}
    container_name: invoiceninja-app
    restart: unless-stopped
    ports:
      - "127.0.0.1:9010:80"
    env_file: .env
    volumes:
      - ./storage:/var/www/app/storage
      - ./public/logo:/var/www/app/public/logo
    depends_on:
      invoiceninja-db:
        condition: service_healthy
      invoiceninja-redis:
        condition: service_started
    networks:
      - invoiceninja

  invoiceninja-db:
    image: mariadb:11
    container_name: invoiceninja-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: {{ invoiceninja_db_name }}
      MYSQL_USER: {{ invoiceninja_db_user }}
      MYSQL_PASSWORD: {{ invoiceninja_db_pass }}
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
    volumes:
      - ./db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - invoiceninja

  invoiceninja-redis:
    image: redis:7-alpine
    container_name: invoiceninja-redis
    restart: unless-stopped
    networks:
      - invoiceninja

networks:
  invoiceninja:
    driver: bridge
